body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #fff, #af6767 , #aa6767);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    width: 300px;
    height: 500;
    border-radius: 20px;
    background-color: #0000003f;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    

}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #d58215;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.operator{
    background-color: rgb(197, 190, 190);
}
#result{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-size: 36px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px inset #decece;
    border-radius: 10px;
    grid-column: 1/5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
#equal{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    grid-column: -3 / -1;
}
.btn:hover{
    background-color:hsl(35, 100%, 65%);
}
.btn:active{
    background-color:hsl(35, 100%, 75%);
}
.operator:hover{
background-color:hsl(34, 7%, 58%);
}
.operator:active{
background-color:hsl(36, 6%, 69%);
}

@media (min-width:481px) and (max-width:1200px){
    #result{
        width: 260px;
    }
}